##Bases de datos

##Importando base de datos

## Practica de Seleccion

In [ ]:
import pandas as pd
alumnos = pd.DataFrame({
'Nombre': ['Ary', 'Katia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
'Edad': [15, 27, 56, 32, 42, 21, 19, 35], 
'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
'Aprobado': [True, False, False, True, True, True, False, False]},
columns = ['Nombre', 'Edad', 'Sexo', 'Notas', 'Aprobado'])

##Cree un DataFrame sólo con los estudiantes aprobados.

In [ ]:
seleccion = alumnos.Aprobado== True
aprobados = alumnos[seleccion]
aprobados

  Nombre  Edad Sexo  Notas  Aprobado
0    Ary    15    M    7.5      True
3   Beto    32    M   10.0      True
4  Bruna    42    F    8.2      True
5   Dara    21    F    7.0      True

##Cree un DataFrame sólo con las estudiantes aprobadas.

In [ ]:
seleccion = (alumnos.Aprobado == True) & (alumnos.Sexo == 'F')
aprobadas = alumnos[seleccion]
aprobadas

  Nombre  Edad Sexo  Notas  Aprobado
4  Bruna    42    F    8.2      True
5   Dara    21    F    7.0      True

##Cree sólo una visualización de los alumnos con edades entre 10 a 20 años o con edad mayor/igual a 40 años.

In [ ]:
seleccion = (alumnos.Edad > 10) & (alumnos.Edad < 20) | (alumnos.Edad >= 40)
por_edades = alumnos[seleccion]
por_edades

   Nombre  Edad Sexo  Notas  Aprobado
0     Ary    15    M    7.5      True
2   Denis    56    M    5.0     False
4   Bruna    42    F    8.2      True
6  Carlos    19    M    6.0     False